@model School_MS.Models.tblChapter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tblChapter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaptertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaptertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tblSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tblSubject.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
