@model IEnumerable<School_MS.Models.tblQuestion>

@{
    ViewData["Title"] = "Index";
}

<h4 class="text-center">All Questions Detail</h4>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label>Subject Name</label>
                <select class="form-control" asp-items="ViewBag.SubjectId" id="subject">
                    <option>--Select Subject--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <label>Chapter No</label>
                <select class="form-control" id="chapter">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-warning btn-sm getQues" style="margin-top:35px;">Get Questions</a>
            </div>
        </div>
        <div id="result"></div>
    </div>
</p>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Subject Name
            </th>
            <th>
                Chapter No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionAnswer)
            </th>


            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblSubject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblChapter.ChaptertName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionAnswer)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //$(document).ready(function () {
        //    $('#myTable').DataTable();
        //});
        //$("#subject").change(function () {
        //    var subId = $(this).val();
        //    $.ajax({
        //        method: "POST",
        //        url: "/Question/GetChapters",
        //        data: {
        //            id: subId
        //        },
        //        success: function (response) {
        //            debugger;
        //            let _html = "";
        //            for (var i = 0; i < response.chapter.length; i++) {
        //                _html += '<option value=' + response.chapter[i].value + '>' + response.chapter[i].text + '</option>';
        //            }

        //            $('#chapter').html(_html);
        //        },
        //        error: function () { }
        //    });
        //});

        //$(".getQues").click(function () {

        //    var subjectName = $("#subject").val();
        //    var chapterName = $("#chapter").val();



        //    $.ajax({
        //        method: "POST",
        //        url: "/Question/GetQuestions",
        //        data: {
        //            subName: subjectName,
        //            chapterNam: chapterName

        //        },
        //        success: function (result) {
        //            for (var i = 0; i <= result.chapter.length; i++) {
        //                $("#result").append(result.chapter[i] + ": " + result.chapter[i] + '<br>');
        //        }



        //},
        //    error: function (result) {
        //        alert("error");
        //    }

        //        });
        //    });
    </script>
    <script src="~/js/site.js"></script>
}

